PORT= 10000
HOST= 0.0.0.0
SESSION_SECRET= 'senha secreta'


# NEON
DATABASE_URL= postgresql://neondb_owner:npg_GLqrQ14jenYs@ep-bold-forest-acp0sfgd-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require